@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	/* Use CSS variables for easy theming throughout the app */
	background: var(--bg);
	color: var(--fg);
}

/* Theme variables: set two primary colors here and use them throughout the site */
:root {
	/* --bg: page background color */
	--bg: #002da9;
	/* --fg: default foreground / text color */
	--fg: #fff8b5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
